* {
    font-family: 'Segoe UI', sans-serif;
    margin     : 0;
    padding    : 0;
}

h1 {
    width     : 100%;
    text-align: center;
}

table {
    height: fit-content;
    width : max-content;
    margin: 0 auto;
}

td,
th {
    padding   : 3px;
    text-align: center;
    width     : fit-content;
}

th {
    font-size       : .8em;
    background-color: black;
    color           : #fff;
}

td {
    font-size: 1em;
}

button,
input[type='submit'] {
    width  : 100%;
    padding: 3px;
}

#actions {
    display     : flex;
    justify-self: stretch;
    align-items : center;
    gap         : 5px;
}